@import "botones.css";

.form_label {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}

.campo {
  width: 100%;
  height: 100%;
  position: relative;
}

.campo input {
  width: 100%;
  height: 30px;
  color: #333;
  border: none;
  padding-top: 20px;
  padding-left: 5px;
  outline: none;
  background-color: transparent;
  transition: all 0.3s ease;
}

.campo label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: #999;
  border-bottom: 1px solid #999;
  transition: all 0.3s ease;
}

.campo label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 100%;
  border-bottom: 3px solid #333;
  transition: width 0.3s ease;
}

.contenido {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
}

.campo input:focus + .form_label .contenido,
.campo input:valid + .form_label .contenido {
  transform: translateY(-120%);
  font-size: 14px;
}

.campo input:focus + .form_label::after,
.campo input:valid + .form_label::after {
  width: 100%;
}

/* SELECT */

select {
  width: 100%;
  height: 40px;
  outline:0;
  border: 0;
  border-bottom: 1px solid #999;
  padding: 0 5px;
  color: #333;
  cursor:pointer;
  font-size: 16px;
  margin-bottom: 3vh;
}

/* ERRORES */

.error input {
  color: red;
}

.error label {
  color: red;
  border-color: red;
}

.error label::after {
  border-color: red;
}

